<div class="container py-3">
  <div class="row justify-content-center">
    <div class="col-lg-6">
      <!-- Get total expenses -->
      <div>
        <h5 class="float-left font-weight-bold color-b">Total</h5>
        <h5 class="font-weight-bold float-right text-danger">{{ total }}</h5>
      </div>
      <!-- Submit -->
      <div class="mb-2">
        <button class="btn btn-sm btn-danger btn-block" (click)="collapse = !collapse">
          <fa-icon fixedWidth="true" icon="plus"></fa-icon>
        </button>
      </div>
      <!-- Expense form -->
      <form class="my-3 form" [formGroup]="expenseForm" (ngSubmit)="addExpense()"
            [collapse]="!collapse" [isAnimated]="true">
        <div class="py-3 bg-light rounded">
          <!-- Name -->
          <input class="form-control" type="text" formControlName="name" placeholder="For...">
          <!-- Amount -->
          <input class="form-control" type="number" formControlName="amount" placeholder="Amount">
          <!-- Date -->
          <input class="form-control" type="date" formControlName="date">
          <!-- description -->
          <input class="form-control" type="text" formControlName="description" placeholder="Description">
          <!-- Submit -->
          <div class="input-group-append mt-1">
            <button class="btn btn-sm btn-info btn-block rounded-0" [disabled]="expenseForm.invalid">Add
            </button>
          </div>
        </div>
      </form>

      <!-- Expense list -->
      <div *ngFor="let expense of this.expenses" (click)="expense.collapse = !expense.collapse">
        <!-- Date -->
        <div class="py-2 mb-2 header text-center font-weight-bold rounded shadow">{{ expense.date }}
          <!-- Delete -->
          <button class="text-danger del float-right" *ngIf="expense.collapse" (click)="deleteExpense(expense)">
            <fa-icon fixedWidth="true" icon="trash"></fa-icon>
          </button>
        </div>
        <div class="body mt-2 mb-2 shadow rounded" [collapse]="!expense.collapse" [isAnimated]="true">
          <h5 class="container-fluid mt-2 font-weight-bold ">
            <small class="color-b font-weight-bold">From:</small>
            <!-- Name -->
            <span class="color-b"> {{ expense.name }}</span>
            <!-- Amount -->
            <span class="float-right text-danger">{{ expense.amount }}</span>
          </h5>
          <hr>
          <!-- Description -->
          <p class="container-fluid font-weight-bold">{{ expense.description }}</p>
        </div>
      </div>

      <!-- No expenses text -->
      <p class="text-secondary mt-3 text-center" *ngIf="!this.expenses.length">You don't have any expenses!</p>
    </div>
  </div>
</div>
