<div class="sidenav-container" [class.example-is-mobile]="mobileQuery.matches">
  <!-- Toolbar -->
  <mat-toolbar color="primary">
    <button mat-icon-button (click)="sideNav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <h1 class="app-name">Kharjomarj</h1>
  </mat-toolbar>

  <!-- Side nav container -->
  <mat-sidenav-container class="sidenav">
    <!-- Side nav -->
    <mat-sidenav #sideNav [mode]="mobileQuery.matches ? 'over' : 'side'">
      <!-- Side items -->
      <mat-nav-list>
        <!-- Dashboard -->
        <mat-list-item>
          <mat-icon mat-list-icon>dashboard</mat-icon>
          <h5 mat-line>Dashboard</h5>
        </mat-list-item>
        <!-- Properties -->
        <mat-list-item>
          <mat-icon mat-list-icon>category</mat-icon>
          <h5 mat-line>Properties</h5>
        </mat-list-item>
        <!-- Add -->
        <mat-list-item>
          <mat-icon mat-list-icon>add</mat-icon>
          <h5 mat-line>Add</h5>
        </mat-list-item>
        <!-- divider -->
        <mat-divider></mat-divider>
        <!-- Settings -->
        <mat-list-item>
          <mat-icon mat-list-icon>settings</mat-icon>
          <h5 mat-line>Settings</h5>
        </mat-list-item>
      </mat-nav-list>
    </mat-sidenav>
  </mat-sidenav-container>
</div>

