.sidenav-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

/* Make toolbar smaller than default. */
mat-toolbar {
  height: 56px;
}

h1.app-name {
  margin-left: 8px;
}

/* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
   causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
.sidenav {
  flex: 1;
}

/* Remove button outline border on focus. */
button:focus {
  outline: none;
}

div.mat-list-text {
  padding-right: 16px;
}
