<div class="sidenav-container" [class.example-is-mobile]="mobileQuery.matches">
  <!-- Toolbar -->
  <mat-toolbar color="primary">
    <button mat-icon-button (click)="sideNav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <h1 class="app-name">Kharjomarj</h1>
  </mat-toolbar>

  <!-- Side nav container -->
  <mat-sidenav-container class="sidenav">
    <!-- Side nav -->
    <mat-sidenav #sideNav [mode]="mobileQuery.matches ? 'over' : 'side'">
      <!-- Side items -->
      <mat-nav-list>
        <h3 mat-subheader>Categories</h3>
        <!-- Companies -->
        <mat-list-item class="pr-3">
          <mat-icon mat-list-icon>person</mat-icon>
          <h5 mat-line>Companies</h5>
        </mat-list-item>
        <h3 mat-subheader>Management</h3>
        <!-- Incomes -->
        <mat-list-item class="pr-3">
          <mat-icon mat-list-icon>assignment</mat-icon>
          <h5 mat-line>Incomes</h5>
        </mat-list-item>
        <!-- Expenses -->
        <mat-list-item class="pr-3">
          <mat-icon mat-list-icon>domain</mat-icon>
          <h5 mat-line>Expenses</h5>
        </mat-list-item>
        <!-- Total -->
        <mat-list-item class="pr-3">
          <mat-icon mat-list-icon>folder_shared</mat-icon>
          <h5 mat-line>Total</h5>
        </mat-list-item>
        <!-- divider -->
        <mat-divider></mat-divider>
        <!-- Settings -->
        <mat-list-item class="pr-3">
          <mat-icon mat-list-icon>folder_shared</mat-icon>
          <h5 mat-line>Settings</h5>
        </mat-list-item>
      </mat-nav-list>
    </mat-sidenav>
  </mat-sidenav-container>
</div>

