<!-- Earn form -->
<form class="my-3" [formGroup]="earnForm" (ngSubmit)="addEarn()">
    <div class="input-group">
        <!-- Submit -->
        <div class="input-group-append">
            <button class="btn btn-sm btn-info">
                <fa-icon fixedWidth="true" icon="plus"></fa-icon>
            </button>
        </div>
        <!-- Name -->
        <input class="form-control" type="text" formControlName="name" placeholder="from...">
        <!-- Amount -->
        <input class="form-control" type="number" formControlName="amount" placeholder="Amount">
        <!-- Date -->
        <input class="form-control" type="date" formControlName="date">
        <!-- description -->
        <input class="form-control" type="text" formControlName="description" placeholder="Description">
    </div>
</form>

<!-- earn list -->
<div class="card my-3" *ngFor="let earn of this.earns">
    <div class="card-header">{{ earn.date }}</div>
    <div class="card-body">
        <h5 class="font-weight-bold">From: {{ earn.name }}
            <span class="float-right text-success">{{ earn.amount }}</span>
        </h5>
        <p>{{ earn.description }}</p>
    </div>
</div>
